<div id="agreement" class="container" style="padding-top:25px;padding-bottom:15px;" [@flyIn]="'inactive'">
  <p style="text-align:center;font-size:16px; font-weight:bold">平安服务协议</p><br>
  <!--<div [innerHtml]="agreementHtml" #agreementText></div>-->
  <div #agreementText>
    本协议是使用< 平安产险陕西 >官方微信（即：中国平安财产保险股份有限公司陕西分公司官方微信，下同）的用户（以下简称用户）和中国平安财产保险股份有限公司陕西分公司就电子油券购买、使用等相关事宜所订立的电子油券购买服务协议，请您仔细阅读本协议，您勾选“同意《电子油券购买服务协议》”复选框后，本协议即生效并构成对双方有约束力的法律文件。<br>
    一、协议声明<br>
    1.< 平安产险陕西 >官方微信电子油券业务为由第三方平台提供，通过互联网依法为用户提供电子油券购买、订单查询等服务，用户在完全同意本协议的情况下，方有权使用电子油券购买服务。<br>
    2.您勾选加油券页面下“同意《电子油券购买服务协议》“复选框后，即视为您已阅读、了解并完全同意本协议的各项内容，并具有独立承担法律责任的能力。<br>
    3.中国平安财产保险股份有限公司陕西分公司在必要时可修改本协议，并在< 平安产险陕西 >官方微信上进行公告，即公告之日起生效。<br>
    二、服务说明<br>
    1.本电子油券仅限汽油品类并长期有效。<br>
    2.用户购买成功后，可即刻在< 平安产险陕西 >官方微信加油功能界面中查询，并直接使用。<br>
    3.电子油券不限于同一辆车使用，油券面额以一百元为单位，需以一百元面额为单位叠加使用（使用一次后电子油券码立即失效，低于一百元按照一百元扣款），因用户原因导致加油券失效的，中国平安财产保险股份有限公司陕西分公司不承担任何责任。<br>
    4.购买成功后可到陕西省内各延长壳牌加油站使用。<br>
    5.本服务不与延长壳牌活动叠加使用，本电子油券是不记名券，不可挂失，不可退换。<br>
    6.如有疑问，请咨询客服热线400-8012122（咨询客服热线为第三方代办平台优驾行easy服务热线）。
  </div>
</div>
