.white {
  color: #fff;
}

.selected {
  color: #3ca8d9;
  border-bottom: 0.04rem solid #3ca8d9;
}

.discount-bg {
  margin-top: 15px;
  position: relative;
}

.discount-bg b {
  font-size: 0.6rem;
}

.discount-bg .wordLeft {
  position: absolute;
  top: 0;
  width: 28%;
  padding-top: 4%;
  font-size: 0.3rem;
}

.discount-bg .wordRight {
  position: absolute;
  top: 0;
  left: 2.6rem;
  width: 65%;
  padding-top: 0.4rem;
}

