<div class="container oilContent">
  <div class="contentHead">
    <h5>订单号：1231321654654564</h5>
    <h4>油券总额：2000元</h4>
    <h5>余额：1000元 10张</h5>
    <h5 class="text-right" (click)="changeUp()">
      <span class="look" href="###">查看券码</span>
      <span *ngIf="isUp" class="pull-right triangle-facing-right"></span>
      <span *ngIf="!isUp" class="pull-right triangle-facing-right"></span>
    </h5>
  </div>
  <div *ngIf="!isUp" class="container contentBox">
    <ol>
      <li>
        <span>20元加油券</span> <a class="look pull-right">立即使用</a>
      </li>
      <li>
        <span>20元加油券</span> <a class="look pull-right">立即使用</a>
      </li>
      <li>
        <span>20元加油券</span> <a class="look pull-right">立即使用</a>
      </li>
      <li>
        <span>20元加油券</span> <a class="look pull-right">立即使用</a>
      </li>
      <li>
        <span>20元加油券</span> <a class="look pull-right">立即使用</a>
      </li>
    </ol>
  </div>
</div>
