<div class="container">
  <div class="row">
    <form class="form-horizontal col-xs-10 col-xs-offset-1">

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <img class="img-width" src="./assets/img/phone@2x.png">
          </div>
          <input type="text" class="form-control" placeholder="请输入手机号">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <img class="img-width" src="./assets/img/pwd@2x.png">
          </div>
          <input type="text" class="form-control" placeholder="请输入验证码">
          <button type="button" class="btn get-code">获取验证码</button>
        </div>
      </div>

      <div class="form-group mg-top">
        <button type="button" class="btn btn-primary btn-lg btn-block">验证</button>
      </div>
      <div class="form-group text-center mg-top-20">
        <a class="mg-top">已领券，立即使用</a>
      </div>
    </form>
  </div>
</div>
